a{
	color: #8ABD50;
}
#mainContainer
{
	margin-top: 50px;
}

div{
	overflow: hidden;
}

.navbar .nav > li.external{
	float: right;
	padding-top: 4px;
}

.navbar .nav > li.twitter{
	margin-top: -6px;
	height: 0px;
}

.navbar .nav{
	width: 100%;
}

/* Embed Google calendar responsively.
 * See: embedresponsively.com
 */
.embed-container {
    position: relative;
    padding-bottom: 5%;
    overflow: hidden;
    max-width: 100%;

    /* This should probably be rex, but that
     * does not exist. It is not clear whether
     * rem or em is more appropriate.
     */
    height: 70em;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
