<h1>Events Calendar</h1>

<div class="row">
	<div class="span12">
		<iframe src="http://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=nlkc39jt4p0nbc4pk9pj7p5fh0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FNew_York" style=" border-width:0 " width="900" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>

<div class="row">
	<div class="span12">
	<a href="http://www.google.com/calendar/feeds/nlkc39jt4p0nbc4pk9pj7p5fh0%40group.calendar.google.com/public/basic"><img src="http://www.google.com/calendar/images/xml.gif"/></a> <a href="http://www.google.com/calendar/ical/nlkc39jt4p0nbc4pk9pj7p5fh0%40group.calendar.google.com/public/basic.ics"><img src="http://www.google.com/calendar/images/ical.gif"/></a> <a target="_blank" href="http://www.google.com/calendar/embed?src=nlkc39jt4p0nbc4pk9pj7p5fh0%40group.calendar.google.com&amp;ctz=America/New_York"><img src="http://www.google.com/calendar/images/html.gif"/></a>
</div>
</div>