<h1>Contribute to the Calendar</h1>

<div class="row">
	<div class="span12">
		<p>
			If you have an event you would like to add or modify, or to help to curate the 
			calendar please e-mail <a href="mailto:watcamp@redune.com">Will Spaetzel</a>.
		</p>
		<p>
			Also, the code for this site is up on <a href="https://github.com/spaetzel/WatCamp.com">GitHub</a>, so if you would like to make
			changes to the site, feel free to branch and send a pull request to make updates.
		</p>
	</div>
</div>

