
<div class="hero-unit">



	<div class="row">
		<div class="span3">
			<img src="img/logo.png" alt="WatCamp"/>
		</div>
		<div class="span7">

			<h1><a href="/">WatCamp</a></h1>
			<h2>Tech events in Waterloo region. </h2>
			<p>View the <a href="#calendar">full calendar</a> to see upcoming tech events in Waterloo region.</p>
            <p>To receive event listings in a weekly email, subscribe to the <a href="https://off-topic.kwlug.org/mailman/listinfo/watcamp-newsletter_off-topic.kwlug.org">WatCamp newsletter</a>.</p>
            <p>Anyone can contribute to this calendar; <a href="#contribute">click here</a> to learn how.<p>
		</div>
	</div>

</div>

<div id="lower">

	<div class="row">
		<div class="span12 embedContainer">
			<iframe src="http://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=nlkc39jt4p0nbc4pk9pj7p5fh0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FNew_York" style=" border-width:0 " width="900" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>

</div>
