<h1>Links</h1>

<h2>Waterloo-Region Tech Groups</h2>
<div class="row">
	<div class="span4">
		<h3><a href="http://www.kwartzlab.ca">Kwartzlab</a></h3>
		<p>Hackerspace located in Kitchener</a>
	</div>
</div>

<h2>Local Calendars</h2>
<div class="row">
	<div class="span4">
		<h3><a href="http://techguelph.ca">TechGuelph.ca</a></h3>
		<p>Tech events in Guelph</p>
	</div>
</div>

<h2>Contribute</h2>
<div class="row">
	<div class="span12">
		View the <a href="#contribute">contribute page</a> for details on how you can contribute or edit this page.
	</div>
</div>

