<h1>Links</h1>

<h2>Waterloo-Region Tech Groups</h2>
<div class="row">
	<div class="span3">
		<h3><a href="http://www.kwartzlab.ca">Kwartzlab</a></h3>
		<p>3000 sqft of working space, power tools, wifi, lounge, library, digital projector and a kitchen with a fully-stocked drink fridge.</a>
	</div>
	<div class="span3">
		<h3><a href="http://www.girlgeekskw.com">Girl Geeks Dinner KW</a></h3>
		<p>Welcoming events where all types of people in tech — from students just figuring out their interests to those with well-established careers</p>
	</div>
	<div class="span3">
		<h3><a href="http://www.communitech.ca">Communitech</a></h3>
		<p>A not-for-profit organization that supports technology companies in Waterloo Region that promotes the region as a technology cluster.</p>
	</div>
	<div class="span3">
		<h3><a href="https://groups.google.com/forum/#!forum/waterloo-dev-house">Devhouse Waterloo</a></h3>
		<p>A meetup for local developers to show off their code and learn from each other</p>
	</div>
</div>
<div class="row">
	<div class="span3">
		<h3><a href="http://www.cttdnug.org/">Canada's Technology Triangle .NET User Group</a></h3>
		<p>A community group for .NET developers in the Kitchener/Waterloo and surrounding area that provides networking opportunities for local IT professionals all while learning about the latest .NET technologies.</p>
	</div>
	<div class="span3">
		<h3><a href="http://kw.pm.org/">Kitchener-Waterloo Perl Mongers</a></h3>
		<p>A user group of Perl Mongers of Kitchener and Waterloo, Ontario.</p>
	</div>
	<div class="span3">
		<h3><a href="http://opendatawr.ca/">Open Data Waterloo Region</a></h3>
		<p>A community group that advocates for governments and institutions in Waterloo Region, Ontario, to adopt open data policies.</p>
	</div>
	<div class="span3">
		<h3><a href="http://kw.net/">KW Unix Users Group</a></h3>
		<p>Meets monthly to discuss a variety of topics around information technology.</p>
	</div>
</div>

<h2>Wider Area Calendars</h2>
<div class="row">
	<div class="span4">
		<h3><a href="http://techguelph.ca">TechGuelph.ca</a></h3>
		<p>Tech events in Guelph</p>
	</div>
	<div class="span4">
		<h3><a href="http://unlondon.ca">Unlondon.ca</a></h3>
		<p>A Non Profit organization set up to challenge and embrace new ideas related to new technologies and social platforms through the education and entertainment of the membership and the community-at-large.</p>
	</div>
	<div class="span4">
		<h3><a href="http://democamp.com/">DemoCamp</a></h3>
		<p>Cocktails and tech demos for designers, developers & marketers.</p>
	</div>

</div>

<h2>Contribute</h2>
<div class="row">
	<div class="span12">
		View the <a href="#contribute">contribute page</a> for details on how you can contribute or edit this page.
	</div>
</div>

