<h1>Search for Upcoming Events</h1>

<p>
Type some terms. Maybe upcoming events containing those terms will
appear.
</p>
<div class="searchform">
  <p>
    <input id="searchterms" type="text" size="80" value="<%= latestquery %>" />
    <input id="submitsearchform" type="submit" value="Search!" />
    <br/>
    Examples: "STEM", "Astronomy", "machine learning" (both terms, not
    necessarily adjacent), "learning -machine" ("learning" without "machine")
  </p>

  <ul id="search-results">
  </ul>

</div>

